<!--  -->
<div class="container">
  <div class="row">
    <div class="col">
      <!--The whole content below can be removed with the new code.-->
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Github Profile Search Web App</a>
      </nav>
      <github></github>    
    </div>
  </div>
</div>
<!--   -->

